body{
    font-family: 'Montserrat', sans-serif;
}

h5{
    text-transform: uppercase;
    font-weight: 700;
}

#card img {
    height: 10em;
}

#delete{
    display: inline;
}

em{
    font-weight: 200;
}